@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3dede;
    font-family: 'Lato', sans-serif;
}

.wrapper {
    width: 75%;
    margin: 3% auto;
    box-shadow: 0 0 30px #ccc;
    background-color: #f0f0f0;
}
.contenedor {
    padding: 3%;
    margin: 0;
}

header {
    text-align: center;
}
header div {
    margin: 1em 0;
}

h1 {
    font-family: 'Berkshire Swash', cursive;
}

h1 i:first-child {
    margin-right: 1em;
    transform: rotateY(180deg);
}
h1 i:last-child {
    margin-left: 1em;
}
header div h3 {
    padding: .3em;
}

hr {
    width: 60%;
    margin: 0 auto;
}

main .contenedor {
    display: flex;
    justify-content: center;
}

main .contenedor .tarea {
    display: flex;
    width: 100%;
    padding: .5em;
    text-align: center;
    margin: 1em 0;
    height: auto;
    position: relative;
    box-shadow: 0 0 10px grey;

}
main .contenedor .tarea p {
    width: 100%;
    padding-bottom: 20px;
    margin: .5em;
}

main .contenedor .tarea .eliminar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: .3em;
    cursor: pointer;
}

footer {
    font-family: 'Berkshire Swash', cursive;
    background-color: #537576;
    text-align: center;
    padding: 1em;
    margin-top: 2em;
}

.seccion {
    width: 30%;
    padding: .5em;
    margin: 0.5em;
}

.seccion h3 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}

.urgente {
    background-color: tomato;
}
.semanal {
    background-color: #ffdb58;
}
.mensual {
    background-color: #bed38e;
}
